<div class="container">
    <div class="row">
        <div class="title">
            <h1>About Us</h1>
        </div>
        
        <form class ="abtform">
            <div class="form-group Name">
                <div class="containertitle">
                   <h3>Name : Benette</h3> 
                </div>
            </div>
            <div class="form-group Batch">
                <div class="containertitle">
                    <h3>Batch No : 123</h3>
                </div>
            </div>
            <div class="form-group totalsalesperson">
                <div class="containertitle">
                    <h3>Total Sales Person:</h3>
                </div>
            </div>
            <div class="form-group totalvehicle">
                <div class="containertitle">
                   <h3> Total Vehicle :</h3>
                </div>
            </div>
            <div class="form-group ShowroomId">
                <div class="containertitle">
                    <h3>ShowRoom ID : 1</h3>
                </div>
            </div> 
            <div class="form-group Objective">
                <div class="containertitle">
                    <h3>Objective : The Main Objective of the Project</h3>
                </div>
            </div>


        </form>
    </div>
</div>